<div class="home-container">
  <div class="home-container-left">
    <h1>Track your journey.<br>Build your discipline.</h1>
    <h2>"Small steps every day lead to big results."</h2>
    <h3>
      Our app helps you stay consistent with your training. <br> Log your workouts, measure your effort and fatigue, and see how far you've come with our week-by-week progress tracking.
    </h3>

    <div class="button-group">
      <button mat-raised-button routerLink="/workouts">Start Workout</button>
      <button mat-raised-button routerLink="/progress">View Progress</button>
    </div>
  </div>
  <div class="home-container-right">
    <div class="home-images-container">
      <div class="home-image-container image-1">
        <img src="assets/HomeImage01.webp" />
      </div>
      <div class="home-image-container image-3">
        <img src="assets/HomeImage03.webp" />
      </div>
    </div>
    <div class="home-images-container">
      <div class="home-image-container image-2">
        <img src="assets/HomeImage02.webp" />
      </div>
    </div>
  </div>
</div>
