<div class="progress-container">
  <div class="picker-container">
    <mat-form-field class="picker">
      <mat-label>Month and Year</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date" [max]="maxDate">
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (monthSelected)="setMonthAndYear($event, dp)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
    <h1>{{ progressTitle }}</h1>

  </div>
  <div class="graphs-container">
    <div class="chart-wrapper">
      <h2>Total Duration</h2>
      <canvas baseChart [data]="durationChartData" [options]="chartOptions" [type]="'bar'"></canvas>
    </div>
    <div class="chart-wrapper">
      <h2>Workout Count</h2>
      <canvas baseChart [data]="countChartData" [options]="chartOptions" [type]="'bar'"></canvas>
    </div>
    <div class="chart-wrapper">
      <h2>Average Intensity</h2>
      <canvas baseChart [data]="intensityChartData" [options]="chartOptions" [type]="'bar'"></canvas>
    </div>
    <div class="chart-wrapper">
      <h2>Average Fatigue</h2>
      <canvas baseChart [data]="fatigueChartData" [options]="chartOptions" [type]="'bar'"></canvas>
    </div>
  </div>
</div>
