/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to right bottom, #0b4b66, #0f3b57, #102b46, #0f1d36, #0d0d25);
  overflow: hidden;
}
h1 {margin: 0}

mat-error, mat-label {
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #F5841A;
  border-radius: 10px;
  border: 3px solid #0b4b66;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #F5841A;
}

::-webkit-scrollbar-track {
  background: #0b4b66;
  border-radius: 10px;
}
