.workouts-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workout-panel {
  width: 50%;
  padding: 0 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  color: #F5841A;
}

mat-option, mat-select {
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row>*{
  flex-grow: 1;
}

.slider-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #F5F5F5;
}

#add-workout-button {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  color: #F5841A;
  background-color: #0b4b66;
  font-size: larger;
}
